<ion-header>

  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{toUser.name}}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content #content>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="msgList.length > 15">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="message-wrap">
      <div *ngFor="let msg of msgList" class="message" [class.left]=" msg.userId != user.id " [class.right]=" msg.userId === user.id ">
          <img class="user-img" (error)="defaultImg($event.target)" [src]="msg.userAvatar" alt="" src="">
          <ion-spinner name="dots" *ngIf="msg.userId === user.id && msg.status === 'pending'"></ion-spinner>
          <div class="msg-detail">
              
              <div class="msg-content" (press)="pressEvent(msg)">
                  <span class='product-info' *ngIf="msg.productName && !msg.msgToId">
                      <strong>Annonce</strong><br>
                      👉 {{msg.productName}}
                  </span>
                  <span class='product-info' *ngIf="msg.msgToId">
                      <strong>Reponse à</strong><br>
                      👉 {{msg.msgToText}}
                  </span>
                  <!-- <hr/> -->
                  <span class="triangle"></span>
                  <p class="line-breaker ">
                      {{msg.message}}
                  </p>
                  <div class="msg-info" *ngIf="msg.userId == user.id" >

                      <small style="font-style: italic;" *ngIf="msg.status=='pending'">
                          <ion-icon name="timer" color='warning'></ion-icon>
                      </small>
                      <small style="font-style: italic;" *ngIf="msg.status=='success' && !msg.vu">
                          <ion-icon name="checkmark" color='third'></ion-icon>
                      </small>
                      <small style="font-style: italic;" *ngIf="msg.vu">
                          <ion-icon name="eye" color='third'></ion-icon>
                      </small>
                  </div>
              </div>

          </div>
      </div>

  </div>

</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  
  <ion-grid class="input-wrap">
      <ion-row>
          <ion-col padding class='response-info' *ngIf="item?.id && !respondTo">
              <p>
                  <strong>Annonce</strong><br>
                  👉 {{item.nom}}
              </p>
          </ion-col>
          <ion-col padding class='response-info' *ngIf="respondTo">
              <p>
                  <strong>Reponse à</strong><br>
                  👉 {{respondTo.message}}
              </p>
          </ion-col>
      </ion-row>
      <ion-row>
          <!-- <ion-col size="2" class="ion-text-left">
              <ion-button fill="clear" (click)="switchEmojiPicker()">
                  <ion-icon name="happy-outline"></ion-icon>
              </ion-button>
          </ion-col> -->
          <ion-col size='10'>
              <ion-textarea #chat_input placeholder="Entrer un message" [(ngModel)]="editorMsg" (keyup.enter)="sendMsg()" (focus)="onFocus()">
              </ion-textarea>
          </ion-col>
          <ion-col size="2">
              <ion-button fill="clear" (click)="sendMsg()">
                  <ion-icon name="send" ></ion-icon>
              </ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
  <emoji-picker *ngIf="showEmojiPicker" [(ngModel)]="editorMsg"></emoji-picker>
</ion-footer>
