body {
    text-align: center;
}
.icon {
    width: 40%;
    margin: auto;
}
.clock {
    margin-left: -25%;
}
.btn {
    border: 1px solid lightslategrey;
    width: 60%;
    padding: 2%;
    margin: auto;
    margin-bottom: 6%;
    border-radius: 25%;
}
h5 {
    margin-top: 15%;
}
.gold {
    color: rgb(255, 196, 0);
}
.info-p {
    padding: 25px;
}