<ion-header [translucent]="true">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperation du mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <form class="form-login" *ngIf="step==0">
    <ion-item>
      <ion-label position="floating" >Entrez votre telephone ou email</ion-label>
      <ion-input type="text" required [(ngModel)]="login" name="userLogin"></ion-input>
    </ion-item>
    <p class="ion-text ion-padding-left" [hidden]="login!='' || submitted == false" color="danger">
      Ce champ est obligatoir.
    </p>
    <br><br>
    <ion-button color="primary" shape="round" type="submit" (click)="send()">
        Envoyer le code
    </ion-button><br>
  </form>
  <form class="form-login" *ngIf="step==1">
    <p class="ion-padding">
      Veuillez saisir le code de validation que nous vous avons envoyé.
    </p>
    <ion-item>
      <ion-label position="floating" >Code de récuperation</ion-label>
      <ion-input type="text" required [(ngModel)]="code" name="userLogin"></ion-input>
    </ion-item>
    <p class="ion-text" [hidden]="login!='' || submitted == false" color="danger" class="ion-padding-start">
      Ce champ est obligatoir.
    </p>
    <ion-button color="primary" shape="round" type="submit" (click)="verify()">
        Suivant
    </ion-button><br>
  </form>
  <form class="form-login" *ngIf="step==2">
    <!-- <h4>
      Veuillez vous identifier pour continuer.
    </h4> -->
    <ion-item>
      <ion-label position="floating" >Nouveau mot de passe</ion-label>
      <ion-input type="password" required [(ngModel)]="passwordA" name="userLogin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Répetez le nouveau mot de passe</ion-label>
      <ion-input type="password" required [(ngModel)]="passwordB" name="userLogin"></ion-input>
    </ion-item>
    <p class="ion-text" [hidden]="login!='' || submitted == false" color="danger" class="ion-padding-start">
      Ce champ est obligatoir.
    </p>
    <ion-button color="primary" shape="round" type="submit" (click)="change()">
        Envoyer le code
    </ion-button><br>
  </form>
</ion-content>
