<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center" fullscreen>
  <div class="curve">
  </div>
  <div class="coach-pic" style="background-image: url({{coach.photo}});"></div>
  <div class="ion-padding-horizontal coach-details">
    <h5>
      {{coach.nom}} 
    </h5>
    <ion-chip color="primary" mode="ios" outline="true" *ngIf="coach.nom_matiere">
      <ion-label>{{coach.nom_matiere || ""}}</ion-label>
    </ion-chip>
    <ion-chip color="primary" mode="ios" outline="true">
      <ion-label>{{coach.classe || coach.nom_classe}}</ion-label>
    </ion-chip>
    <div>
      {{coach.nbrExos}} exos, {{coach.nbrLecons}} leçons
    </div>
    <ion-note>{{coach.slogan || ""}}</ion-note>
  </div>
  <div class="ion-text-left courses">
    <ion-item detail="true" [class.ion-text-right]="item.direction == 'rtl'" 
    mode="ios" [class.rtl]="item.direction == 'rtl'" *ngFor="let item of courses" (click)="navCtrl.navigateForward('cours-details', {
      queryParams:item
    })">
      <ion-avatar slot="start" *ngIf="item.url">
        <app-file-component style="max-width: 100%;" [src]="item.url" [title]="item.titre" [scheme]="'dark'" alt="contenu"></app-file-component>
      </ion-avatar>
      <ion-icon *ngIf="!item.url" [name]="item.type == 'cours' ? 'library-outline' : 'barbell-outline'" color="primary" slot="start"></ion-icon>
      <ion-label>
        {{item.titre}} <br>
        <ion-note>{{item.type}} {{item.date | moment : ''}}</ion-note>
      </ion-label>
    </ion-item>
    <!-- <ion-card class="ion-no-margin-vertical" [class.ion-text-right]="item.direction == 'rtl'" 
    mode="ios" [class.rtl]="item.direction == 'rtl'" *ngFor="let item of courses" 
    [class]="item.type == 'exos' ? 'bg-white' : ''">
      <app-file-component [src]="item.url" [title]="item.titre" [scheme]="'dark'" alt="contenu" *ngIf="item.url"></app-file-component>
      <ion-card-header>
          <ion-card-subtitle>{{item.date | moment : ''}}</ion-card-subtitle>
          <ion-card-title>{{item.titre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="size-animation">
        <div [innerHtml]="item.content | textHtml" *ngIf="item.showMore" (click)="item.showMore = !item.showMore"></div>
        <div [innerHtml]="item.content | textHtml" *ngIf="!item.showMore" (click)="item.showMore = !item.showMore"></div>
        <ion-slides mode="ios" [pager]="false" scrollbar="false" [options]="questionSlides" class="ion-no-padding ion-text-left">
            <ion-slide *ngFor="let q of item.responses; let i = index;" class="ion-text-left ion-no-padding">
                <div>
                    <h4>
                        {{q.question}}
                    </h4>
                    <ion-text color="primary" *ngIf="q?.isCorrect != null">
                        {{q?.correct}}
                    </ion-text>
                </div>
            </ion-slide>
          </ion-slides>
      </ion-card-content>
    </ion-card> -->
  </div>
</ion-content>
