<div class="ion-padding ion-text-center">
  <ion-img [src]="photo" style="max-height: 30vh;"></ion-img>
  <h5>{{nom}}</h5>
  <ion-chip color="primary" mode="ios" *ngIf="nom_matiere" outline="true">
    <ion-label>{{nom_matiere}} - {{classe}}</ion-label>
  </ion-chip><br>
  <ion-text>
    <ion-note [innerHtml]="slogan?.replace('\n', '<br/>')"></ion-note>
  </ion-text>
  <ion-button *ngIf="id" expand="block" fill="clear" shape="round" (click)="navCtrl.navigateForward('coach-profile', {queryParams:coach});">
    En savoir plus
  </ion-button>
</div>
