<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mes Affiliations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-avatar slot="start">
        <img [src]="item.photo" onerror="this.src='assets/img/default-user.png'">
      </ion-avatar>
      <ion-label>
        {{item.nom}} <br>
        <ion-note>{{item.date_inscription | moment : ''}}</ion-note>
      </ion-label>
    </ion-item>
    <ion-infinite-scroll threshold="25%" [disabled]="true" position="bottom" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
