<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="ion-padding-top">
        <div class="custom-header">
        </div>
        <div class="header-content" *ngIf="logedIn">
          <img [src]="userProfile.photo" onerror="this.src='assets/img/default-user.png'" alt="" (click)="navCtrl.navigateForward('profile');closeSideMenu();">
          <ion-label  (click)="navCtrl.navigateForward('profile');closeSideMenu();">
            <h2>{{userProfile.displayName}}</h2>
            <p>
              {{userProfile.domicile}}
            </p>
          </ion-label>
        </div>
        <ion-list id="inbox-list">
          <ion-list-header>
            
            
          </ion-list-header>
          <!-- <ion-note>hi@ionicframework.com</ion-note> -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-item size="small">
          <ion-label>Problème de connexion ?</ion-label>
          <ion-toggle slot="end" [(ngModel)]="httpNative" (ionChange)="change($event.target.checked)"></ion-toggle>
        </ion-item>
        <div class="ion-padding">
          <ion-button (click)="share()" expand="block" fill="solid">
            <ion-icon slot="start" name="share-social"></ion-icon>
            Partager Natidja
          </ion-button>
        </div>
        <ion-list id="labels-list">
          <ion-list-header>Compte</ion-list-header>
          <ion-item *ngIf="!logedIn">
            <ion-button color="primary" fill="clear" (click)="navCtrl.navigateForward('login');closeSideMenu();">
              <ion-icon slot="start" name="log-in-outline"></ion-icon>
              Se connecter
            </ion-button>
          </ion-item>
          <ion-item *ngIf="logedIn">
            <ion-button color="primary" fill="clear" (click)="navCtrl.navigateForward('profile');closeSideMenu();">
              <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
              Mon profil
            </ion-button>
          </ion-item>

          <div class="ion-padding">
            <ion-button size="small" [disabled]="bgClasse == ''" (click)="setBg('')" *ngIf="logedIn" color="light">
              bg
            </ion-button>
            <ion-button size="small" [disabled]="bgClasse == 'bg-primary-secondary'" (click)="setBg('bg-primary-secondary')" *ngIf="logedIn" class="bg-primary-secondary">
              bg
            </ion-button>
            <ion-button size="small" [disabled]="bgClasse == 'bg-tertiary-primary'" (click)="setBg('bg-tertiary-primary')" *ngIf="logedIn" class="bg-tertiary-primary">
              bg
            </ion-button>
            <ion-button size="small" [disabled]="bgClasse == 'bg-transparent'" (click)="setBg('bg-transparent')" *ngIf="logedIn" class="bg-transparent">
              bg
            </ion-button>
            <ion-button size="small" [disabled]="bgClasse == 'bg-img'" (click)="setBg('bg-img')" *ngIf="logedIn" class="bg-img">
              bg
            </ion-button>
          </div>
          <!-- <ion-button color="primary" fill="clear" (click)="navCtrl.navigateForward('my-gifts');closeSideMenu();" *ngIf="logedIn">
            <ion-icon slot="start" name="gift"></ion-icon>
            Mes cadeaux
          </ion-button>
          <ion-button color="primary" fill="clear" (click)="navCtrl.navigateForward('selections-autorise');closeSideMenu();" *ngIf="logedIn">
            Selections des autorisés
          </ion-button> -->
          <ion-item *ngIf="logedIn">
            <ion-button color="danger" fill="clear" (click)="logout();">
              <ion-icon color="danger" slot="start" name="log-out-outline"></ion-icon>
              Déconnexion
            </ion-button>
          </ion-item>
          <!-- <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item> -->
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
