ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}
ion-header,
    ion-navbar,
    ion-content {
        background-color: #4b4141!important;
        background-image: url("../assets/photos/pattern.svg")!important;
        background-size: 100%;
        background-blend-mode: difference;
        background-attachment: fixed;
    }
ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}
.custom-header{
  width:350px;
  height:30vh;
  // background: var(--ion-color-primary);
  // background: linear-gradient(var(--ion-color-tertiary) 0%, var(--ion-color-primary) 100%);
  background: rgb(69,123,157);
  // background: linear-gradient(var(--ion-color-primary) 0%, var(--ion-color-primary-shade) 100%);
  background: linear-gradient(to bottom, #a8cfdb, #457b9d);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left:-5vw;
  margin-top: -12vh;
  margin-bottom: 10vh;
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);

}
.header-content{
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;
  img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 7px solid #5887a785;
    margin:5px;
  }
  h2{
    font-weight: 300;
    color: #ffffff;
  }
  p{
    font-size: 14px;
    color: #e4e4e4;
    font-weight: 100;
    letter-spacing: .4px;
  }
}

.glass-morphism {
  background: rgba(255, 255, 255, .5);
  --background: rgba(255, 255, 255, .5);
  backdrop-filter: blur(6px);
}
ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

.barree{
  text-decoration: line-through;
}