ion-header, ion-navbar, ion-content
    {
        --background:none;
        background-color: #4b4141!important;
        background-image: url("../../../assets/photos/pattern.svg")!important;
        background-size: 100%;
        background-blend-mode: difference;
        background-attachment: fixed;
    }
    ion-row
    {
        border-bottom: 1px solid #cecccc;
    }
    .danger
    {
        color: #eb445a;
    }