<ion-header [translucent]="true">
    <ion-toolbar color="transparent">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title *ngIf="item">Etudiant {{item.numero}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="transparent">
  <ion-card>
      <ion-card-content>
          <div class="entete" class="ion-text-center">
              <a class="circle">
                  <img src="{{item.photo}}" (error)="defaultImg($event.target, 'assets/img/default-user.png')" alt="{{item.photo}}" />
              </a>
              <div *ngIf="logedIn && mine">
                  <ion-button color="warning" (click)="personalizer(item)" fill="outline" shape="round" icon-left>
                      <ion-icon name="sttings"></ion-icon>
                      Personnaliser
                  </ion-button>
              </div>
          </div>
          <h2 class="ion-text-center ion-title" style="text-transform: capitalize;">{{item.nom}}</h2>
          <br>
          <ion-row *ngIf="item.numero">
              <ion-col>Numéro</ion-col>
              <ion-col><strong> : {{item.numero}}</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="item.origine">
              <ion-col>Ville d'origine</ion-col>
              <ion-col><strong> : {{item.origine||'non précisé'}}</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="item.etablissement">
              <ion-col>Etablissement</ion-col>
              <ion-col><strong> : {{item.etablissement||'non précisé'}}</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="item.classe">
              <ion-col>Classe</ion-col>
              <ion-col><strong> : {{item.classe}}</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="item.serie">
              <ion-col>
                  Série
              </ion-col>
              <ion-col>
                  <strong> : {{item.serie}}</strong>
              </ion-col>
          </ion-row>
          <ion-row *ngIf="item.naissance">
              <ion-col>Date de naissance</ion-col>
              <ion-col><strong> : {{item.naissance}}</strong></ion-col>
          </ion-row>

          <ion-row *ngIf="item.trimestre">
              <ion-col>Trimestre</ion-col>
              <ion-col><strong> : {{item.trimestre}}</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="item.ile">
              <ion-col>Ile</ion-col>
              <ion-col><strong> : {{item.ile}}</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="item.decision">
              <ion-col>Décision</ion-col>
              <ion-col><strong> : {{item.decision}}</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="item.mension && item.mension!='zero'">
              <ion-col>Mention</ion-col>
              <ion-col color="secondary"><strong> : {{item.mension}}</strong></ion-col>
          </ion-row>
          <ion-row *ngIf="item.rang">
              <ion-col>Rang</ion-col>
              <ion-col color="secondary"><strong> : {{item.rang}}</strong></ion-col>
          </ion-row>

          <ion-row *ngIf="item.moyenne">
              <ion-col>Moyenne</ion-col>
              <ion-col color="secondary"><strong> : {{item.moyenne}}</strong></ion-col>
          </ion-row>
          <div class="ion-text-center">
              <ion-button *ngIf="item?.notes && item.canViewNotes && logedIn" fill="outline" shape="round" icon-left (click)="openPage('bulletin', item);">
                  <ion-icon name="document-text" slot="start"></ion-icon>
                  Voir les notes
              </ion-button>
              <ion-button *ngIf="logedIn && item?.notes && !item.canViewNotes" fill="outline" shape="round" (click)="navCtrl.navigateForward('payement', {queryParams:{item:item, reason: 'appropriate_num'}});">
                  <ion-icon name="document-text" slot="start"></ion-icon>
                  Accès aux notes
              </ion-button>
              <ion-button *ngIf="!logedIn  && !item.canViewNotes" fill="outline" shape="round" (click)="openLogin('login', {queryParams:{}});">
                <ion-icon name="person" slot="start"></ion-icon>  
                Accès aux notes
             </ion-button>
              <ion-button *ngIf="!logedIn  && item.canViewNotes" fill="outline" shape="round" (click)="openLogin('login', {queryParams:{}});">
                <ion-icon name="person" slot="start"></ion-icon>  
                Voir les notes
             </ion-button>
          </div>
          <br>
          <a *ngIf="item.gift_link" fill="outline" shape="round" (click)="openInAppBrowser(item.gift_link)">
              <div>
                  <ion-img src="assets/gift.svg" style="max-width:60px; margin: auto;" slot="start"></ion-img>
              </div>
              <div class="ion-padding ion-text-center" color="secondary" style="font-size:75%;">
                <h5>{{item?.gift_header}}</h5>
                <strong>{{item?.gift_msg}}</strong>
            </div>
        </a>
      </ion-card-content>
  </ion-card>
  
  <div class="sliders-container" *ngIf="slidesPub.length>0">
      <ion-slides pager autoplay="5000" loop="true" speed="500">

          <ion-slide *ngFor="let item of slidesPub" class="slide">
              <a href="{{item.url}}">
                  <img src="{{item.src}}" alt="{{item.src}}" class="slide-img" />
              </a>
          </ion-slide>

      </ion-slides>
  </div>
  <ion-card>
      <ion-card-content class="ion-text-center">
          <div *ngIf="!logedIn">
              <ion-button (click)="openLogin('login', {queryParams:{}});" shape="round" fill="outline">Féliciter</ion-button>
          </div>
          <form *ngIf="logedIn" class="commentForm">
              <div class="visitor">
                  <ion-avatar class="avatar" slot="start">
                      <img src="{{userProfile.photo}}" (error)="defaultImg($event.target, 'assets/img/default-user.png')">
                  </ion-avatar>
                  <div class="aLabel">
                      <h3>{{userProfile.displayName}}</h3>
                      <ion-note>
                          {{userProfile.domicile}}
                      </ion-note>
                  </div>
              </div>
              <ion-grid fixed>
                  <ion-row>
                      <ion-col size="10" class="ion-no-padding">
                        <textarea name="comment" class="comment" [(ngModel)]="comment" placeholder="Laissez un message"></textarea>
                      </ion-col>
                      <ion-col size="2" class="ion-no-padding">
                        <ion-button (click)="send()" fill="clear" class='btn-send'>
                            <ion-icon name="send"></ion-icon>
                        </ion-button>
                      </ion-col>
                  </ion-row>
              </ion-grid>
              
          </form>
          <ion-list>
              <ion-item *ngFor="let item of comments">
                  <ion-grid fixed>
                      <ion-row>
                          <ion-col size="2">
                            <ion-avatar class="avatar ion-item-left">
                                <img src="{{item.senderPhoto}}" (error)="defaultImg($event.target, 'assets/img/default-user.png')">
                            </ion-avatar>
                          </ion-col>
                          <ion-col size="10">
                            <div class="aLabel">
                                <h5>{{item.senderName}}</h5>
                                <ion-note>{{item.senderHome}}</ion-note>
                            </div>
                          </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col size="12">
                            <div class="comment" (click)="openPage('response', {queryParams:{}})">
                                {{item.content}}
                                <div class="date">
                                    <small>{{item.date}}</small>
                                </div>
                            </div>
                          </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col size="12">
                            <div>
                                <ion-button (click)="toggleResponse(item)" fill="clear" size="small" class='btn-answer'>
                                    Répondre
                                </ion-button>
                                <ion-button *ngIf="item.senderId==userProfile.userId" (click)="deleteComment(item.id)" fill="clear" color="danger" size="small" class='btn-answer'>
                                    Supprimer
                                </ion-button>
                                <ion-button *ngIf="item.nbrReponses>0" (click)="loadResponses(item)" fill="clear" color="secondary" size="small" class='btn-answer'>
                                    {{item.nbrReponses}} réponses
                                </ion-button>
                                <form *ngIf="logedIn && item.openResponse" class="reponseForm">
                                    <ion-row>
                                        <ion-col size="10">
                                            <textarea name="commentResponse" class="comment" [(ngModel)]="comment_response" placeholder="Réponse"></textarea>
                                        </ion-col>
                                        <ion-col size="2">
                                            <ion-button (click)="sendResponse(item.id)" fill="clear" class='btn-send'>
                                                <ion-icon name="send"></ion-icon>
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                    
                                </form>
                                <ion-list *ngIf="item.responses" class="reponseForm">
                                    <ion-item *ngFor="let item of item.responses">
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="3">
                                                    <ion-avatar item-left class="avatar">
                                                        <img src="{{item.senderPhoto}}" (error)="defaultImg($event.target, 'assets/img/default-user.png')">
                                                    </ion-avatar>
                                                </ion-col>
                                                <ion-col size="9">
                                                    <div class="aLabel">
                                                        <h3>{{item.senderName}}</h3>
                                                        <ion-note>{{item.senderHome}}</ion-note>
                                                    </div>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col size="12">
                                                    <div class="comment" (click)="openPage('reponse', {queryParams:{}})">
                                                        {{item.content}}
                                                        <div class="date">
                                                            <small>{{item.date}}</small>
                                                        </div>
                                                    </div>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </ion-item>
                                </ion-list>
                            </div>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
                  
                  
                  <hr/>
              </ion-item>
          </ion-list>

      </ion-card-content>

  </ion-card>
</ion-content>
